

html { scroll-behavior: smooth; overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    font-family: "Anonymous Pro", monospace;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
}

.tm-welcome-container {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}


h1 {
 font-family: "Limelight", sans-serif;
}

.tm-welcome-logo {
    margin-top: -37px;
    padding-bottom: 14px;

}

h3 {
    font-family: "Anonymous Pro", monospace;
    font-weight: 100;
    font-size: 2.6rem;
    margin-bottom: 20px;
}

h4 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

h5 {
    font-family: "Doto", sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    justify-self: center;
}

p {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

a {
    transition: all 0.3s ease;
    color: #666;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}




.tm-site-header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px;
}

.tm-logo-container {
    display: block;
    padding: 30px;
    width: 320px;
    height: 160px;
}

.tm-site-logo { font-size: 3rem; }
.tm-site-name { font-size: 1.9rem; }

#tm-video-container {
    height: 660px;
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

#tm-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.tm-bg-black {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.headings{
    font-size: 65px;

}
.tm-bg-gray {  /* text background */
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
 }
.tm-text-primary { color: #ffffff; }
.tm-text-secondary { color: #898b9d; }

.tm-nav-link {
    color: white;
    font-size: 1.6rem; 
     
}


#tm-main-nav .nav-item .nav-link { border-bottom: 1px solid transparent; }

#tm-main-nav .nav-item.active .nav-link,
#tm-main-nav .nav-item:hover .nav-link {
    border-bottom: 1px solid white;
    color: white;
}

.tm-welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}


.tm-welcome-container-about-contact-video {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}

.tm-welcome-container-inner { margin-top: 245px; }
.tm-welcome-text { font-size: 4rem; }

.btn {
    padding: 15px 60px;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.btn-primary { background-color: #3399CC; }
.btn-primary:hover { background-color: #1674a0; }


.tm-btn-animate {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease;
}

.tm-btn-animate:before {
    left: 0;
    top: -100%;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 2.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.tm-btn-animate:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.tm-btn-animate:hover:before { top: 13px; }

.tm-btn-animate span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.tm-btn-animate:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}

.tm-btn-cta {
    color: white;
    background-color: transparent
}

.tm-btn-cta:before { font-size: 180%; }
.tm-btn-download:before { font-size: 120%; }
.tm-btn-submit:before { font-size: 120%; }
.tm-icon-down:before { content: '\f078'; }
.tm-icon-download:before { content: '\f019'; }
.tm-icon-submit:before { content: '\f1d8'; }
.tm-icon-submit:hover:before { top: 18px; }
.tm-btn-cta:hover { color: white; }




#tm-video-control-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.container-fluid {
    background-image: url("../img/static.gif");
    background-repeat: repeat;        
    background-size: auto;             
    background-position: top left;    
    overflow: hidden; 
    position: relative;
    z-index: 0;
    min-height: 100vh;
}

.tm-content-container {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: transparent;
}



/* content container for video pages */

.tm-content-container-video {
    max-width: 100%;
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
}

.tm-welcome-title {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #CDCECF;
    margin-left: 50px;
}

.tm-video-player{
    background-color: #000000;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 13px;

}

.tm-page-title { 
    font-size: 2.5rem; 
}

.tm-catalog-item-list { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 70px;
    margin-right: 300px;
    margin-left: 300px; 
 }
 
/*force align*/
.tm-content-container { padding-left:0; padding-right:0; }
.tm-catalog-item-list { margin-left:0; margin-right:0; }

.tm-catalog-item{
    flex-direction: column;
    padding: 50px; 
    align-items: center;   

}

.scroll-background {
    position: absolute;
    z-index: 1;
    width: 3300px;
    overflow: hidden;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
    
/* Thumbnail Effects */
.tm-thumbnail-container { 
    overflow: hidden;}
.tm-thumbnail-container img { transition: all 0.3s ease; }
.tm-thumbnail-container:hover img { transform: scale(1.2) rotate(0deg); }


.tm-img-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    filter: grayscale();
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.tm-overlay-icon {
    color: #ffffff;
    opacity: 1;
    font-size: 2rem;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    z-index: 1002;
    transition: all 0.3s ease;  
    opacity: 0;
}

.tm-img-overlay:hover .tm-overlay-icon {
    opacity: 1; 
}

.tm-img-overlay:hover { 
    background-color: transparent; 
}

.tm-catalog-item-description { 
    flex: 1; }



.tm-paging-link {
    background-color: #F4F4F4;
    margin-right: 12px;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item.active > .tm-paging-link,
.nav-item:hover > .tm-paging-link {
    background-color: #CCC;
    color: #666666;
}

/*Video detail page*/

.tm-video-title { 
    font-size: 2.5rem;
    color: #ffffff;
 }

.tm-bg-white {
    background-color: white;
    border: 1px solid #CDCECF;
    border-radius: 5px;
}




.tm-video-description-box { 
    max-width: 920px; 
}
.tm-text-gray { color: #888b8d; }
.tm-text-white { color: #bca8a8; }

.tm-fixed-header {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}

#tm-fixed-header-bg { height: 550px; }
.tm-fixed-header-1 { 
    background-image: url(../img/video-detail-1.jpg); }

.tm-fixed-header-2 { 
    background-image: url(../img/Julius.jpg);
    background-size: cover;
    background-position: center;
}

.tm-fixed-header-3 { 
    background-image: url(../img/contact-1.jpg);
    background-position: left 0px ;
    background-size: cover;
}


video {
  width: 100%;
  height: auto;
}


/*About*/
.tm-about-text-container { max-width: 920px; }

.parallax-window {
    min-height: 270px;
    background: transparent;
}

.parallax-window-2 {
    min-height: 360px;
}

.tm-about-icon {
    color: #ffffff;
}



@media (min-width: 992px) {
    #tm-main-nav .nav-item { margin: 20px 40px; }
    .navbar-expand-lg .navbar-nav .nav-link { padding: 3px 0px; }
    .navbar-expand-lg .navbar-collapse { justify-content: flex-end; }
}

@media (max-width: 1419px) {
    .tm-catalog-item{ margin-bottom: 30px; }
}

@media (max-width: 991px) {
    .navbar {
        max-width: 220px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
    }
    
    .navbar-collapse {
        background-color: rgba(0,0,0,0.5);
        border-radius: 5px;
        border-top-right-radius: 0;
        padding: 10px 15px;
    }

    .nav-item { 
        margin-bottom: 10px;
     }

    .navbar-toggler {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 52px;
        height: 40px;
    }

    .navbar-toggler.collapsed {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;   
    }

    .navbar-toggler i.tm-menu-opened-icon { display: block; }
    .navbar-toggler i.tm-menu-closed-icon { display: none; }
    .navbar-toggler.collapsed i.tm-menu-opened-icon { display: none; }
    .navbar-toggler.collapsed i.tm-menu-closed-icon { display: block; }
    .tm-welcome-container-inner { margin-top: 150px; }
    .tm-welcome-text { font-size: 1.4rem; }

    #tm-video {
        width: 888px;
        height: 500px;
    }

    .tm-logo-container {
        height: 160px;
        width: 250px;
    }

    .tm-site-header { padding: 20px; }
    .tm-catalog-item-list { max-width: 924px; }
    .tm-share-box { max-width: 400px; }
}

@media (max-width: 879px) {
    .tm-categories-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 991px) {
  .tm-fixed-header-2 {
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: top;
   
  }
}




/* fonts */
.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.anonymous-pro-regular-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: italic;
}

.anonymous-pro-bold-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: italic;
}

.doto-computer {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

/* read more */

.more-content {
  display: none; 
}

.read-more-btn,
.read-less-btn {
  padding: 8px 12px;
  font-family: "Doto", sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  
}

.read-more-btn:hover {
  padding: 8px 12px;
  font-family: "Doto", sans-serif;
  color: rgb(255, 255, 255);
  border: solid;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  
}

.read-less-btn:hover {
  padding: 8px 12px;
  font-family: "Doto", sans-serif;
  color: rgb(255, 255, 255);
  border: solid;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  
}

.dots {
    display: inline-block;
    vertical-align: middle;
    color: #57595a;
    margin-right: 6px;
}

.summary-text, .more-content {
    color: #73787a;
    font-size: 1.1rem;
}

/* Contact Icons */

.fa-instagram {
    color: #a4a5a5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-instagram:hover {
    color: #ffffff;
}

.fa-envelope {
    color: #a4a5a5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-envelope:hover {
    color: #ffffff;
}

.fa-phone {
    color: #a4a5a5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-phone:hover {
    color: #ffffff;
       
}

